.novalnet-challenge-window-overlay {
  position: fixed;
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  cursor: pointer;
}

.nn-test-mode {
  position: relative;
  background-color: #0080c9;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 8px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 0.8px;
  border-radius: 0 0 5px 5px;
  transition: transform 0.5s ease 0.5s;
  animation: novalnet-blinker 4s linear infinite;
  font-weight: bold;
  float: right;
}

@keyframes novalnet-blinker {
  100% {
    opacity: 0;
  }
}

.nn-info-box {
  position: relative;
  width: auto;
  height: auto;
  background: content-box;
  font-size: 14px;
  color: #333;
  margin: 20px 0;
  padding: 1em;
  border-left: 5px solid #0080c9;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  clear: both;
}

.nn-info-box ul {
  margin: 0 20px;
  padding: 0;
}

.nn-info-box li {
  list-style: none;
}

.nn-info-box p {
  padding: 0 1em;
  margin-bottom: 0;
}

.nn-bold {
  font-weight: bold;
}

.nn-delete-token-btn {
  cursor: pointer;
}

.sepa-mandate {
  cursor: pointer;
}

.sepa-mandate-details {
  display: none;
  padding: 8px;
  border: 1px solid;
  border-color: #ddd;
}

.novalnet-instalment-details-table th {
  text-align: center;
}

.novalnet-checkout-instalment-table th {
  text-align: center;
}

.novalnet-checkout-instalment-table {
  display: none;
}

#novalnet_sepa_bic_field, #novalnet_instalment_sepa_bic_field, #novalnet_guaranteed_sepa_bic_field {
  display: none;
}

#novalnet_sepa_iban, #novalnet_instalment_sepa_iban, #novalnet_guaranteed_sepa_iban {
  text-transform: uppercase;
}
